#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: :0;
}

.title{
  font-size: 1.8em;
}

.row{
  height: 1000px;
  background-color: lightgreen;
}

.Chicken{
  font-size: 1.5em;
}

@media (max-width:767px){
  .row{
    width: 90%;
    margin: auto;
  }
}

#nav-list li{
  text-align: center;
}
